*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    font-family: serif;
    color: purple;
    margin-bottom: 10px;
}
#page-style{
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    font-size: 18px;
    font-family: monospace;
}
#main.nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
}
#main-nav li{
    display: inline-block;
    align-items: center;
}
#main-nav li a{
    color: beige;
    background: gray;
    text-decoration: none;
    padding: 5px;
    border-radius: 2px;
}
#main-nav a:nth-child(3dd){
    color: black;
    background: brown;
}